body {
	background-color: #FEFEFE;
}

#nav-bar {
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	background-size: contain;
	border-bottom: 1px solid #DDDDDD;
}

	#nav-bar ul li a {
		color: #005BBE;
	}

#banner-head {
	margin-top: 100px;
}

	#banner-head #subject {
		padding: 20px 10px 20px 0px; 
		font-size:21px; 
		background-image: linear-gradient(to right, #271066, #271066, #382177, #493288);
	}

		#subject__syms {
			padding: 2px 0px 2px 18px;
		}

			#subject__syms img {
				height: 400px;
				float: left;
			}

		#subject__cmt {
			border: #;
			padding: 70px 20px 0px 0px;
			color: #EDEDED;
			text-align: justify; 
		}

			#subject__cmt p {
				font-size: 21px;
				font-weight: 500;
			}

#banner-foot {
	margin: 50px 0px;
}
	
	#banner-foot #subject {
		padding: 30px 25px 30px 0px; 
		background-image: linear-gradient(to right, #00AFAF, #00AFAF, #00AFAF, #00D8D8, #00D8D8);
	}
		#banner-foot .col {
		}

		#banner-foot .col-5 {
			padding-top: 70px;
		}

		#banner-foot p {
			font-size: 22px;
			font-weight: 500;
			font-style: italic;
		}

		#banner-foot img {
			height: 250px;
		}

#main-container {
	padding: 0px 100px;
}

	#title {
		margin-top: 0px; 
		margin-bottom: 50px;
	}



#index-container {
	margin-top: 100px;
	margin-bottom: 80px;
}

	#index-container div div {
		background-position: 280px 210px; 
		height:250px; 
		width:250px; 
		padding: 110px 0px;
		color: white;
		font-size: 20px;
	}

/*	#index__sym1 {
		background-color: #F01212;
	}
	
	#index__sym2 {
		background-color: #12F034;
	}

	#index__sym3 {
		background-color: #4F12F0;
	}	*/

	#index-container .rounded-circle {
		background-color: #0053B8;
	}

	#index-container div div:hover {
		opacity: 0.8;
	}



#history {
	text-align: justify;
	margin: 50px 8% 0px 8%;
	padding-top: 50px;
	border-top: 1px solid #CCCCCC;
}

	#history p {
		font-size:20px;
	}


#achieve {
    list-style: none;
    text-align: center;
}	
	
	.achieve-items {
		padding: 0 8%;
	}

	.achieve-items p {
		font-size: 20px; 
		margin-left: 35px;
		text-align: justify;
	}
	
	.achieve-items li {
		font-size: 20px;
	}

	#achieve li {
	    width:90%;
    	margin: 10px auto;
    	border: 1px solid #BBBBBB;
    	border-radius: 10px;
    	padding: 6px;

    	color: #005BBE;
    	font-weight: 500;
	}

	#achieve li:hover {
		background-color: #005BBE;
		color: #FFFFFF;
		border:none;
	}
	
	#achieve li:hover a {
		color: #FFFFFF;
	}

	#achieve a {
	    font-size: 22px; 
	    text-decoration: none;
	}
	
#architect {
    text-align: center;
    color: #000000;
}
	
	#architect .col-5 {
	}

    #architect ul {
        list-style:none;
        font-size: 25px;
    }
    
	    #architect ul li {
	    	width: 90%;
	    	margin: 10px auto;
	    	border: 1px solid #BBBBBB;
	    	border-radius: 10px;
	    	padding: 6px;

	    	color: #005BBE;
	    }

	    #architect ul li:hover {
			background-color: #005BBE;
			border:none;
		}

		#architect ul li:hover a {
			color: #FFFFFF;
		}

	    #architect a{
	    	font-size: 22px;
	    	font-weight: 500;
	       text-decoration: none;
	    }
	    

    .archi-items {
        padding: 0% 8%;
    }
    
        .archi-items p {
            font-size: 20px;
            text-align:justify;
        }
        
        .archi-items p.indent {
            margin-left: 40px;
        }
    
.achieve-items button, .archi-items button {
	margin: 30px 8%;
	float: right;
}

#team-member {
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
}

#member-wrap {
	margin: auto;
	padding: 0px;
}

	#thanks {
		margin-bottom: 30px;
		text-align: justify;
	}

	.card {
		padding-left: 0px;
		padding-right: 0px;
		margin: 1.6%;
	}

	.card-body {
		padding: 5px 0px;
	}

	.card-footer {
		padding-left: 10px;
		padding-right: 10px;	
	}

	.card-footer p {
		margin-bottom: 5px; 
	}

#platform-used {
	margin-top: 0px;
	margin-bottom: 30px;
}

#references {
	margin-top: 50px;
	margin-bottom: 30px;
}

#copyright {
	margin: 50px auto 10px 10px;
	font-size: 14px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.btn-item {
	text-align: right;
	margin-right: 7%;
	font-size: 18px;
}

hr {
	margin: 50px 0px;
}

.card {
	width: 10px;
}
